<h1>This is the page for the following plane: <%= @plane.name %></h1>


<p>Rows: <%= @plane.row %></p>
<p>Columns: <%= @plane.column %></p>

<hr>
<p>Plane diagram below:</p>

<span id="test">3</span>
<h2 id="testtwo"></h2>

<script>
  // var rows = <%= @plane.row %>;


</script>
